<div class="container" >
    <div class="panel panel-default">

        <div class="panel-heading"> 
            <span>Lista de Habilidades</span>
            <div class="pull-right">
                <button class="btn btn-sm btn-success" style="margin-top: -7px;" 
                    (click)="novaHabilidade()" >Nova Habilidade</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th class="col-md-1">Código</th>
                  <th class="col-md-4">Nome</th>
                  <th class="col-md-5">Descrição</th>
                  <th class="col-md-1 text-center">Editar</th>
                  <th class="col-md-1 text-center">Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let habilidade of habilidades.conteudo">
                  <td> {{habilidade.id}} </td>  
                  <td> {{habilidade.nome}} </td>  
                  <td> {{habilidade.descricao}} </td>  
                  <td class="text-center">
                    <button class="btn btn-xs btn-default" (click)="editarHabilidade(habilidade)">Editar</button>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-xs btn-danger" (click)="deletarHabilidade(habilidade)">Excluir</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>